@model MvcCompanySample.Models.Title

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Title</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title_name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TitleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
