@{
    ViewBag.Title = "ASP.NET MVC 4 Project";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
               <b> This project uses Entity Frame Work and is DataBase Driven </b>
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Go to List section and add some data per List so click on the first link and enter a few cost names you can think of such as rent, energy, health care, insurance , add at least a few countries to the list of Countries, for the Function add for example Manager to it and Consultant, for the Mail Category add Bill and Letter and for Payment Status Add Due and Payed, and a few states to the state list and as last add for the Title list Mr. and Mrs. to it. 

   </li>

    <li class="two">
        <h5>Add Company Details</h5>
        OK we have entered some data into the Lists so this data should be visible when we go to the Companies and click on the create link.
    </li>

    <li class="three">
        <h5>After that Enter Documents</h5>
       As you will understand you first must create a Company before that company will be selectable when you want to add a new document to the database. Try the other screens a also so create a new Contact, create a Bill and play around with it. 


    </li>
</ol>
